html, body ,:global(#root){
  height: 100%;
}

:global(.loginBg) {
  width: 100%;
  min-height: 100%;
  min-width: 1200px;
  padding: 150px 0;
  background: url("./assets/images/logbg.jpg") no-repeat;
  background-size: cover;
}

:global(.flex-r) {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  -khtml-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

:global(.flex-c) {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -khtml-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

:global(.jus) {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  justify-content: center;
}

:global(.ala) {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
}

:global(.mask) {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, .3);
}



